.container {
  display: grid;
  max-width: 1200px;
  padding: 40px;
  margin: 20px auto;
  align-items: center;
  gap: 60px;
  font-family: "Poppins";
}

.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.vantagens-produto {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
}

.vantagens-produto a {
  grid-column: 3;
}

.vantagens-produto {
  padding: 20px;
}

.vantagens-produto h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.botao a {
  background: orange;
  padding: 20px;
  border-radius: 4px;
  place-self: end;
}
